.grid-container {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #ced4da;
    user-select: none;
    position: relative;
    color: #ffffff; /* Default text color for emojis */
}

.card.hidden {
    background-color: #343a40; /* Back color */
}

.card.hidden::before {
    content: "?";
    font-size: 2em;
    color: #ffffff;
    position: absolute;
}

.card.matched {
    color: #fff;
}

.card1 { background-color: #FF6347; }  /* Tomato */
.card2 { background-color: #FFD700; }  /* Gold */
.card3 { background-color: #ADFF2F; }  /* GreenYellow */
.card4 { background-color: #00BFFF; }  /* DeepSkyBlue */
.card5 { background-color: #FF69B4; }  /* HotPink */
.card6 { background-color: #BA55D3; }  /* MediumOrchid */
.card7 { background-color: #00FA9A; }  /* MediumSpringGreen */
.card8 { background-color: #FF4500; }  /* OrangeRed */
.card9 { background-color: #4682B4; }  /* SteelBlue */
.card10 { background-color: #D2691E; } /* Chocolate */
.card11 { background-color: #DA70D6; } /* Orchid */
.card12 { background-color: #8A2BE2; } /* BlueViolet */
.card13 { background-color: #7FFF00; } /* Chartreuse */
.card14 { background-color: #FF7F50; } /* Coral */
.card15 { background-color: #6495ED; } /* CornflowerBlue */

/* Responsive design */
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(8, 100px);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(6, 100px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid-container {
        grid-template-columns: repeat(4, 100px);
    }
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(2, 100px);
    }
}
