.grid-container {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    margin: auto;
    overflow: auto;
}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #ced4da;
    user-select: none;
    position: relative;
    transform-style: preserve-3d; /* Ensures 3D space is preserved */
    transition: transform 0.6s; /* Smooth flip transition */
}

.card.hidden {
    transform: rotateY(0deg); /* Initial state, face-down */
    background-color: #343a40;
}

.card.flipped {
    transform: rotateY(180deg); /* Flipped state, face-up */
}

.card.hidden::before {
    content: "?";
    font-size: 2em;
    color: #ffffff;
    position: absolute;
    backface-visibility: hidden;
}

.card.matched {
    color: #fff;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.flipped::after {
    content: attr(data-value);
    color: #ffffff;
    background-color: #343a40;
}