.grid-container {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    max-width: 90vw; /* Maximum width 90% of viewport width */
    max-height: 90vh; /* Maximum height 90% of viewport height */
    margin: 0 auto;
    overflow: auto;
}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #ced4da;
    user-select: none;
    position: relative;
    color: #ffffff; /* Default text color for emojis */
}

.card.hidden {
    background-color: #343a40; /* Back color */
}

.card.hidden::before {
    content: "?";
    font-size: 2em;
    color: #ffffff;
    position: absolute;
}

.card.matched {
    color: #fff;
}
